In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import time
import datetime as dt
import importlib

import aux_funcs as aux

In [2]:
train = aux.read_train_data()
building = aux.read_building_data()
weather_train = aux.read_weather_train_data()

train.csv read in 13.9 s
Mem. usage decreased to 289.19 Mb (53.1% reduction)
(20216100, 11)
   building_id  meter  timestamp  meter_reading  hour  day  year  weeknumber  \
0            0      0 2016-01-01            0.0     0    1  2016          53
1            1      0 2016-01-01            0.0     0    1  2016          53
2            2      0 2016-01-01            0.0     0    1  2016          53
3            3      0 2016-01-01            0.0     0    1  2016          53
4            4      0 2016-01-01            0.0     0    1  2016          53

   weekday  month  log_meter_reading
0        4      1                0.0
1        4      1                0.0
2        4      1                0.0
3        4      1                0.0
4        4      1                0.0
building_metadata.csv read in 0.1 s
Mem. usage decreased to  0.03 Mb (60.3% reduction)
(1449, 7)
   site_id  building_id primary_use  square_feet  year_built  floor_count  \
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

   log_square_feet
0         8.913550
1         7.908387
2         8.589700
3        10.072597
4        11.666565
weather_train.csv read in 0.2 s
Mem. usage decreased to  3.07 Mb (68.1% reduction)

In [3]:
tbw = train.join(building.loc[:,['building_id','primary_use','site_id','square_feet','log_square_feet']], on='building_id',rsuffix='r')
tbw = pd.merge(tbw, weather_train.loc[:,['site_id','timestamp','air_temperature']],\
               left_on=['site_id','timestamp'], right_on=['site_id','timestamp'])
tbw.head()

,building_id,meter,timestamp,meter_reading,hour,day,year,weeknumber,weekday,month,log_meter_reading,building_idr,primary_use,site_id,square_feet,log_square_feet,air_temperature
0,0,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,0,Education,0,7432,8.913550,25.0
1,1,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,1,Education,0,2720,7.908387,25.0
2,2,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,2,Education,0,5376,8.589700,25.0
3,3,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,3,Education,0,23685,10.072597,25.0
4,4,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,4,Education,0,116607,11.666565,25.0

In [4]:
subgroups = tbw.groupby(['primary_use','meter'])['meter_reading'].count().to_frame()

In [5]:
features_list=['weeknumber','weekday','hour','log_square_feet','air_temperature']

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_squared_error

In [7]:
use_list = np.unique(building['primary_use'])
meter_list = np.arange(0,4)
features_list=['weeknumber','weekday','hour','log_square_feet','air_temperature']

In [10]:
from sklearn.ensemble import AdaBoostRegressor
out = []
adargs = []
for use in use_list:
    for meter in meter_list:
        print('---------------------')
        print('Extracting data for: ', use, meter)
        print('')
        # extract by primary use and meter value
        sub_df = tbw[(tbw['primary_use']== use) & (tbw['meter']==meter)]
        
        X=sub_df[features_list]
        y=sub_df['log_meter_reading']
        
        #eliminate points with no temperature
        cond = ~X['air_temperature'].isnull() 
        print(sum(cond),'datapoints')
        X = X[cond]
        y = y[cond]
        
        if len(y)==0:
            continue        
        
        print('Train-test split...')
        # train-test split
        X_train, X_test, y_train, y_test = train_test_split(X,y,train_size = 0.75, random_state=42)
        print('X_train shape: ', X_train.shape)
        print('X_test shape: ', X_test.shape)

        # fit
        print('Fitting model...')
        t0 = time()
        adarg = AdaBoostRegressor(\
                    DecisionTreeRegressor(min_samples_split=20),\
                        n_estimators=50, random_state=42)
        adarg.fit(X_train,y_train)
        fit_time = time()-t0
        print('Fit in {:.1f}s'.format(fit_time) )
        
        print('Validating...')
        # predict
        pred = adarg.predict(X_test)
        
        # validate model
        R2 = r2_score(y_test,pred)
        mse = mean_squared_error(y_test,pred)
        print('R2 :', R2)
        print('MSE :', mse)
        
        # attach results
        out.append([use, meter, len(y), fit_time, R2, mse])
        adargs.append(adarg)
        print('Done')
        print('')

---------------------
Extracting data for:  Education 0

4577522 datapoints
Train-test split...
X_train shape:  (3433141, 5)
X_test shape:  (1144381, 5)
Fitting model...
Fit in 615.4s
Validating...
R2 : 0.9867768334048143
MSE : 0.041294528983900194
Done

---------------------
Extracting data for:  Education 1

1812418 datapoints
Train-test split...
X_train shape:  (1359313, 5)
X_test shape:  (453105, 5)
Fitting model...
Fit in 274.8s
Validating...
R2 : 0.9328981832325025
MSE : 0.4534244654010751
Done

---------------------
Extracting data for:  Education 2

1125729 datapoints
Train-test split...
X_train shape:  (844296, 5)
X_test shape:  (281433, 5)
Fitting model...
Fit in 177.4s
Validating...
R2 : 0.8969663975110744
MSE : 0.7516280993223075
Done

---------------------
Extracting data for:  Education 3

606440 datapoints
Train-test split...
X_train shape:  (454830, 5)
X_test shape:  (151610, 5)
Fitting model...
Fit in 81.3s
Validating...
R2 : 0.8966304256976653
MSE : 0.673747867231354
Done

---------------------
Extracting data for:  Entertainment/public assembly 0

1505695 datapoints
Train-test split...
X_train shape:  (1129271, 5)
X_test shape:  (376424, 5)
Fitting model...
Fit in 670.7s
Validating...
R2 : 0.9865620235650361
MSE : 0.04339302368490827
Done

---------------------
Extracting data for:  Entertainment/public assembly 1

369548 datapoints
Train-test split...
X_train shape:  (277161, 5)
X_test shape:  (92387, 5)
Fitting model...
Fit in 41.2s
Validating...
R2 : 0.9529576370212298
MSE : 0.3060654401776008
Done

---------------------
Extracting data for:  Entertainment/public assembly 2

240055 datapoints
Train-test split...
X_train shape:  (180041, 5)
X_test shape:  (60014, 5)
Fitting model...
Fit in 25.4s
Validating...
R2 : 0.8009672324843702
MSE : 1.050905312798423
Done

---------------------
Extracting data for:  Entertainment/public assembly 3

138796 datapoints
Train-test split...
X_train shape:  (104097, 5)
X_test shape:  (34699, 5)
Fitting model...
Fit in 13.8s
Validating...
R2 : 0.7744472513518662
MSE : 1.974831299761615
Done

---------------------
Extracting data for:  Food sales and service 0

43804 datapoints
Train-test split...
X_train shape:  (32853, 5)
X_test shape:  (10951, 5)
Fitting model...
Fit in 3.9s
Validating...
R2 : 0.9036310978972398
MSE : 0.0651795674645118
Done

---------------------
Extracting data for:  Food sales and service 1

35112 datapoints
Train-test split...
X_train shape:  (26334, 5)
X_test shape:  (8778, 5)
Fitting model...
Fit in 2.7s
Validating...
R2 : 0.9555134018847156
MSE : 0.23204710564645886
Done

---------------------
Extracting data for:  Food sales and service 2

17558 datapoints
Train-test split...
X_train shape:  (13168, 5)
X_test shape:  (4390, 5)
Fitting model...
Fit in 1.3s
Validating...
R2 : 0.8644244255911455
MSE : 0.19524158267847053
Done

---------------------
Extracting data for:  Food sales and service 3

17554 datapoints
Train-test split...
X_train shape:  (13165, 5)
X_test shape:  (4389, 5)
Fitting model...
Fit in 1.2s
Validating...
R2 : 0.9113581779599319
MSE : 0.21824816044609976
Done

---------------------
Extracting data for:  Healthcare 0

184178 datapoints
Train-test split...
X_train shape:  (138133, 5)
X_test shape:  (46045, 5)
Fitting model...
Fit in 17.4s
Validating...
R2 : 0.9782560890253515
MSE : 0.05549816727214805
Done

---------------------
Extracting data for:  Healthcare 1

110967 datapoints
Train-test split...
X_train shape:  (83225, 5)
X_test shape:  (27742, 5)
Fitting model...
Fit in 9.1s
Validating...
R2 : 0.9674755485159129
MSE : 0.23026804303687423
Done

---------------------
Extracting data for:  Healthcare 2

77461 datapoints
Train-test split...
X_train shape:  (58095, 5)
X_test shape:  (19366, 5)
Fitting model...
Fit in 5.9s
Validating...
R2 : 0.9447130564688246
MSE : 0.5432445862951728
Done

---------------------
Extracting data for:  Healthcare 3

25322 datapoints
Train-test split...
X_train shape:  (18991, 5)
X_test shape:  (6331, 5)
Fitting model...
Fit in 1.6s
Validating...
R2 : 0.9450190301180746
MSE : 0.45081570485691136
Done

---------------------
Extracting data for:  Lodging/residential 0

1219932 datapoints
Train-test split...
X_train shape:  (914949, 5)
X_test shape:  (304983, 5)
Fitting model...
Fit in 3298.1s
Validating...
R2 : 0.9871290267547527
MSE : 0.034706583323761385
Done

---------------------
Extracting data for:  Lodging/residential 1

454137 datapoints
Train-test split...
X_train shape:  (340602, 5)
X_test shape:  (113535, 5)
Fitting model...
Fit in 45.4s
Validating...
R2 : 0.9018590807907508
MSE : 0.503008729539397
Done

---------------------
Extracting data for:  Lodging/residential 2

360378 datapoints
Train-test split...
X_train shape:  (270283, 5)
X_test shape:  (90095, 5)
Fitting model...
Fit in 43.5s
Validating...
R2 : 0.8479687794202059
MSE : 0.9356042183517229
Done

---------------------
Extracting data for:  Lodging/residential 3

95816 datapoints
Train-test split...
X_train shape:  (71862, 5)
X_test shape:  (23954, 5)
Fitting model...
Fit in 9.2s
Validating...
R2 : 0.8986384479491984
MSE : 0.3042633421531094
Done

---------------------
Extracting data for:  Manufacturing/industrial 0

84521 datapoints
Train-test split...
X_train shape:  (63390, 5)
X_test shape:  (21131, 5)
Fitting model...
Fit in 7.1s
Validating...
R2 : 0.9711505313649288
MSE : 0.03994235451818779
Done

---------------------
Extracting data for:  Manufacturing/industrial 1

6405 datapoints
Train-test split...
X_train shape:  (4803, 5)
X_test shape:  (1602, 5)
Fitting model...
Fit in 0.4s
Validating...
R2 : 0.9658318454861777
MSE : 0.14819310279845732
Done

---------------------
Extracting data for:  Manufacturing/industrial 2

33518 datapoints
Train-test split...
X_train shape:  (25138, 5)
X_test shape:  (8380, 5)
Fitting model...
Fit in 2.3s
Validating...
R2 : 0.8637253708863137
MSE : 0.418550013592635
Done

---------------------
Extracting data for:  Manufacturing/industrial 3

0 datapoints
---------------------
Extracting data for:  Office 0

2302813 datapoints
Train-test split...
X_train shape:  (1727109, 5)
X_test shape:  (575704, 5)
Fitting model...
Fit in 182.8s
Validating...
R2 : 0.9862050858152098
MSE : 0.03551441094583278
Done

---------------------
Extracting data for:  Office 1

1112021 datapoints
Train-test split...
X_train shape:  (834015, 5)
X_test shape:  (278006, 5)
Fitting model...
Fit in 3327.2s
Validating...
R2 : 0.9495049553158043
MSE : 0.2963338578898232
Done

---------------------
Extracting data for:  Office 2

674002 datapoints
Train-test split...
X_train shape:  (505501, 5)
X_test shape:  (168501, 5)
Fitting model...
Fit in 98.1s
Validating...
R2 : 0.9056823792642149
MSE : 0.6406233580349698
Done

---------------------
Extracting data for:  Office 3

289434 datapoints
Train-test split...
X_train shape:  (217075, 5)
X_test shape:  (72359, 5)
Fitting model...
Fit in 32.0s
Validating...
R2 : 0.8542100568545156
MSE : 1.0272092570380158
Done

---------------------
Extracting data for:  Other 0

210579 datapoints
Train-test split...
X_train shape:  (157934, 5)
X_test shape:  (52645, 5)
Fitting model...
Fit in 22.2s
Validating...
R2 : 0.9781704438800534
MSE : 0.05922061223402957
Done

---------------------
Extracting data for:  Other 1

22623 datapoints
Train-test split...
X_train shape:  (16967, 5)
X_test shape:  (5656, 5)
Fitting model...
Fit in 1.5s
Validating...
R2 : 0.9112779493539523
MSE : 0.8448191260848753
Done

---------------------
Extracting data for:  Other 2

8782 datapoints
Train-test split...
X_train shape:  (6586, 5)
X_test shape:  (2196, 5)
Fitting model...
Fit in 0.5s
Validating...
R2 : 0.9460996282150941
MSE : 0.17368168743328666
Done

---------------------
Extracting data for:  Other 3

0 datapoints
---------------------
Extracting data for:  Parking 0

187393 datapoints
Train-test split...
X_train shape:  (140544, 5)
X_test shape:  (46849, 5)
Fitting model...
Fit in 12.7s
Validating...
R2 : 0.9292318809320244
MSE : 0.1791925158384128
Done

---------------------
Extracting data for:  Parking 1

8779 datapoints
Train-test split...
X_train shape:  (6584, 5)
X_test shape:  (2195, 5)
Fitting model...
Fit in 0.5s
Validating...
R2 : 0.9313790915722027
MSE : 0.03627987747967189
Done

---------------------
Extracting data for:  Parking 2

17564 datapoints
Train-test split...
X_train shape:  (13173, 5)
X_test shape:  (4391, 5)
Fitting model...
Fit in 1.3s
Validating...
R2 : 0.9061638301547492
MSE : 0.25626879594576624
Done

---------------------
Extracting data for:  Parking 3

0 datapoints
---------------------
Extracting data for:  Public services 0

1317166 datapoints
Train-test split...
X_train shape:  (987874, 5)
X_test shape:  (329292, 5)
Fitting model...
Fit in 122.5s
Validating...
R2 : 0.9764760284835319
MSE : 0.03866773248576966
Done

---------------------
Extracting data for:  Public services 1

179273 datapoints
Train-test split...
X_train shape:  (134454, 5)
X_test shape:  (44819, 5)
Fitting model...
Fit in 3197.2s
Validating...
R2 : 0.9110092032711512
MSE : 0.521057262438708
Done

---------------------
Extracting data for:  Public services 2

82960 datapoints
Train-test split...
X_train shape:  (62220, 5)
X_test shape:  (20740, 5)
Fitting model...
Fit in 7.2s
Validating...
R2 : 0.9231329778039183
MSE : 0.49426062874939536
Done

---------------------
Extracting data for:  Public services 3

78928 datapoints
Train-test split...
X_train shape:  (59196, 5)
X_test shape:  (19732, 5)
Fitting model...
Fit in 6.9s
Validating...
R2 : 0.8592098846724348
MSE : 1.0111058126527281
Done

---------------------
Extracting data for:  Religious worship 0

24728 datapoints
Train-test split...
X_train shape:  (18546, 5)
X_test shape:  (6182, 5)
Fitting model...
Fit in 1.7s
Validating...
R2 : 0.9053356923915202
MSE : 0.04590328311554461
Done

---------------------
Extracting data for:  Religious worship 1

7042 datapoints
Train-test split...
X_train shape:  (5281, 5)
X_test shape:  (1761, 5)
Fitting model...
Fit in 0.4s
Validating...
R2 : 0.9569980978356784
MSE : 0.013758861978618503
Done

---------------------
Extracting data for:  Religious worship 2

0 datapoints
---------------------
Extracting data for:  Religious worship 3

0 datapoints
---------------------
Extracting data for:  Retail 0

96503 datapoints
Train-test split...
X_train shape:  (72377, 5)
X_test shape:  (24126, 5)
Fitting model...
Fit in 8.6s
Validating...
R2 : 0.9917717211865925
MSE : 0.036110339591750355
Done

---------------------
Extracting data for:  Retail 1

16037 datapoints
Train-test split...
X_train shape:  (12027, 5)
X_test shape:  (4010, 5)
Fitting model...
Fit in 0.9s
Validating...
R2 : 0.9086539178821623
MSE : 0.4443276155845503
Done

---------------------
Extracting data for:  Retail 2

0 datapoints
---------------------
Extracting data for:  Retail 3

0 datapoints
---------------------
Extracting data for:  Services 0

78898 datapoints
Train-test split...
X_train shape:  (59173, 5)
X_test shape:  (19725, 5)
Fitting model...
Fit in 6.7s
Validating...
R2 : 0.9880492732675116
MSE : 0.010871889747641491
Done

---------------------
Extracting data for:  Services 1

0 datapoints
---------------------
Extracting data for:  Services 2

17564 datapoints
Train-test split...
X_train shape:  (13173, 5)
X_test shape:  (4391, 5)
Fitting model...
Fit in 1.2s
Validating...
R2 : 0.9381580462374732
MSE : 1.0866150530596321
Done

---------------------
Extracting data for:  Services 3

0 datapoints
---------------------
Extracting data for:  Technology/science 0

44945 datapoints
Train-test split...
X_train shape:  (33708, 5)
X_test shape:  (11237, 5)
Fitting model...
Fit in 4.1s
Validating...
R2 : 0.9881957412645047
MSE : 0.006618274399561536
Done

---------------------
Extracting data for:  Technology/science 1

15795 datapoints
Train-test split...
X_train shape:  (11846, 5)
X_test shape:  (3949, 5)
Fitting model...
Fit in 1.1s
Validating...
R2 : 0.8871456352589339
MSE : 0.6013896752894163
Done

---------------------
Extracting data for:  Technology/science 2

7176 datapoints
Train-test split...
X_train shape:  (5382, 5)
X_test shape:  (1794, 5)
Fitting model...
Fit in 0.4s
Validating...
R2 : 0.8959334937157237
MSE : 0.10723766583000915
Done

---------------------
Extracting data for:  Technology/science 3

8748 datapoints
Train-test split...
X_train shape:  (6561, 5)
X_test shape:  (2187, 5)
Fitting model...
Fit in 0.6s
Validating...
R2 : 0.6965450677301046
MSE : 3.030501567818942
Done

---------------------
Extracting data for:  Utility 0

31881 datapoints
Train-test split...
X_train shape:  (23910, 5)
X_test shape:  (7971, 5)
Fitting model...
Fit in 2.0s
Validating...
R2 : 0.9287815833836373
MSE : 0.07860930075587133
Done

---------------------
Extracting data for:  Utility 1

8781 datapoints
Train-test split...
X_train shape:  (6585, 5)
X_test shape:  (2196, 5)
Fitting model...
Fit in 0.5s
Validating...
R2 : 0.9625332145439276
MSE : 0.021722566571698954
Done

---------------------
Extracting data for:  Utility 2

14352 datapoints
Train-test split...
X_train shape:  (10764, 5)
X_test shape:  (3588, 5)
Fitting model...
Fit in 0.9s
Validating...
R2 : 0.9245421785844106
MSE : 0.06680638613740865
Done

---------------------
Extracting data for:  Utility 3

0 datapoints
---------------------
Extracting data for:  Warehouse/storage 0

103027 datapoints
Train-test split...
X_train shape:  (77270, 5)
X_test shape:  (25757, 5)
Fitting model...
Fit in 9.0s
Validating...
R2 : 0.9775338035159619
MSE : 0.036064994306891536
Done

---------------------
Extracting data for:  Warehouse/storage 1

0 datapoints
---------------------
Extracting data for:  Warehouse/storage 2

8782 datapoints
Train-test split...
X_train shape:  (6586, 5)
X_test shape:  (2196, 5)
Fitting model...
Fit in 0.5s
Validating...
R2 : 0.979565229111605
MSE : 0.11821022793766409
Done

---------------------
Extracting data for:  Warehouse/storage 3

0 datapoints

In [11]:
res = pd.DataFrame(out,columns=['primary_use','meter','n_data','fit_time','R2','mse'])
res

,primary_use,meter,n_data,fit_time,R2,mse
0,Education,0,4577522,615.408553,0.986777,0.041295
1,Education,1,1812418,274.796650,0.932898,0.453424
2,Education,2,1125729,177.437819,0.896966,0.751628
3,Education,3,606440,81.275391,0.896630,0.673748
4,Entertainment/public assembly,0,1505695,670.698068,0.986562,0.043393
5,Entertainment/public assembly,1,369548,41.187476,0.952958,0.306065
6,Entertainment/public assembly,2,240055,25.415971,0.800967,1.050905
7,Entertainment/public assembly,3,138796,13.776818,0.774447,1.974831
8,Food sales and service,0,43804,3.889749,0.903631,0.065180
9,Food sales and service,1,35112,2.655596,0.955513,0.232047
10,Food sales and service,2,17558,1.327849,0.864424,0.195242
11,Food sales and service,3,17554,1.187255,0.911358,0.218248
12,Healthcare,0,184178,17.433198,0.978256,0.055498
13,Healthcare,1,110967,9.098246,0.967476,0.230268
14,Healthcare,2,77461,5.936147,0.944713,0.543245
15,Healthcare,3,25322,1.609001,0.945019,0.450816
16,Lodging/residential,0,1219932,3298.052736,0.987129,0.034707
17,Lodging/residential,1,454137,45.429230,0.901859,0.503009
18,Lodging/residential,2,360378,43.543472,0.847969,0.935604
19,Lodging/residential,3,95816,9.232704,0.898638,0.304263
20,Manufacturing/industrial,0,84521,7.138989,0.971151,0.039942
21,Manufacturing/industrial,1,6405,0.374912,0.965832,0.148193
22,Manufacturing/industrial,2,33518,2.311958,0.863725,0.418550
23,Office,0,2302813,182.823258,0.986205,0.035514
24,Office,1,1112021,3327.191558,0.949505,0.296334
25,Office,2,674002,98.095713,0.905682,0.640623
26,Office,3,289434,31.965336,0.854210,1.027209
27,Other,0,210579,22.182350,0.978170,0.059221
28,Other,1,22623,1.452818,0.911278,0.844819
29,Other,2,8782,0.484297,0.946100,0.173682
30,Parking,0,187393,12.731433,0.929232,0.179193
31,Parking,1,8779,0.499913,0.931379,0.036280
32,Parking,2,17564,1.265329,0.906164,0.256269
33,Public services,0,1317166,122.483038,0.976476,0.038668
34,Public services,1,179273,3197.236907,0.911009,0.521057
35,Public services,2,82960,7.170254,0.923133,0.494261
36,Public services,3,78928,6.934815,0.859210,1.011106
37,Religious worship,0,24728,1.702766,0.905336,0.045903
38,Religious worship,1,7042,0.390571,0.956998,0.013759
39,Retail,0,96503,8.591741,0.991772,0.036110
40,Retail,1,16037,0.921630,0.908654,0.444328
41,Services,0,78898,6.732836,0.988049,0.010872
42,Services,2,17564,1.249665,0.938158,1.086615
43,Technology/science,0,44945,4.061579,0.988196,0.006618
44,Technology/science,1,15795,1.077914,0.887146,0.601390
45,Technology/science,2,7176,0.437430,0.895933,0.107238
46,Technology/science,3,8748,0.562370,0.696545,3.030502
47,Utility,0,31881,1.983921,0.928782,0.078609
48,Utility,1,8781,0.531159,0.962533,0.021723
49,Utility,2,14352,0.874812,0.924542,0.066806
50,Warehouse/storage,0,103027,8.951074,0.977534,0.036065
51,Warehouse/storage,2,8782,0.484291,0.979565,0.118210

In [12]:
res.to_csv('adaboost_perf_01.csv')

In [13]:
import pickle

In [17]:
with open('adaboost_01.pkl','ab') as adafile:
    pickle.dump(adargs, adafile)