In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import time
import datetime as dt
import importlib

import aux_funcs as aux

In [2]:
train = aux.read_train_data()
building = aux.read_building_data()
weather_train = aux.read_weather_train_data()

train.csv read in 29.6 s
Mem. usage decreased to 289.19 Mb (53.1% reduction)
(20216100, 11)
   building_id  meter  timestamp  meter_reading  hour  day  year  weeknumber  \
0            0      0 2016-01-01            0.0     0    1  2016          53
1            1      0 2016-01-01            0.0     0    1  2016          53
2            2      0 2016-01-01            0.0     0    1  2016          53
3            3      0 2016-01-01            0.0     0    1  2016          53
4            4      0 2016-01-01            0.0     0    1  2016          53

   weekday  month  log_meter_reading
0        4      1                0.0
1        4      1                0.0
2        4      1                0.0
3        4      1                0.0
4        4      1                0.0
building_metadata.csv read in 0.0 s
Mem. usage decreased to  0.03 Mb (60.3% reduction)
(1449, 7)
   site_id  building_id primary_use  square_feet  year_built  floor_count  \
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

   log_square_feet
0         8.913550
1         7.908387
2         8.589700
3        10.072597
4        11.666565
weather_train.csv read in 0.4 s
Mem. usage decreased to  3.07 Mb (68.1% reduction)

In [3]:
tbw = train.join(building.loc[:,['building_id','primary_use','site_id','square_feet','log_square_feet']], on='building_id',rsuffix='r')
tbw = pd.merge(tbw, weather_train.loc[:,['site_id','timestamp','air_temperature']],\
               left_on=['site_id','timestamp'], right_on=['site_id','timestamp'])
tbw.head()

,building_id,meter,timestamp,meter_reading,hour,day,year,weeknumber,weekday,month,log_meter_reading,building_idr,primary_use,site_id,square_feet,log_square_feet,air_temperature
0,0,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,0,Education,0,7432,8.913550,25.0
1,1,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,1,Education,0,2720,7.908387,25.0
2,2,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,2,Education,0,5376,8.589700,25.0
3,3,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,3,Education,0,23685,10.072597,25.0
4,4,0,2016-01-01,0.0,0,1,2016,53,4,1,0.0,4,Education,0,116607,11.666565,25.0

In [4]:
del train
del building
del weather_train

In [5]:
subgroups = tbw.groupby(['primary_use','meter'])['meter_reading'].count().to_frame()

In [6]:
features_list=['weeknumber','weekday','hour','log_square_feet','air_temperature']

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_squared_error

In [9]:
use_list = np.unique(tbw['primary_use'])
meter_list = np.arange(0,4)
features_list=['weeknumber','weekday','hour','log_square_feet','air_temperature']

In [11]:
from sklearn.ensemble import AdaBoostRegressor
out = []
adargs = []
for use in use_list:
    for meter in meter_list:
        print('---------------------')
        print('Extracting data for: ', use, meter)
        print('')
        # extract by primary use and meter value
        sub_df = tbw[(tbw['primary_use']== use) & (tbw['meter']==meter)]
        
        X=sub_df[features_list]
        y=sub_df['log_meter_reading']
        
        #eliminate points with no temperature
        cond = ~X['air_temperature'].isnull() 
        print(sum(cond),'datapoints')
        X = X[cond]
        y = y[cond]
        
        if len(y)==0:
            continue        
        
        print('Train-test split...')
        # train-test split
        X_train, X_test, y_train, y_test = train_test_split(X,y,train_size = 0.8, random_state=42)
        print('X_train shape: ', X_train.shape)
        print('X_test shape: ', X_test.shape)

        # fit
        print('Fitting model...')
        t0 = time()
        adarg = AdaBoostRegressor(\
                    DecisionTreeRegressor(min_samples_split=20),\
                        n_estimators=120, random_state=42)
        adarg.fit(X_train,y_train)
        fit_time = time()-t0
        print('Fit in {:.1f}s'.format(fit_time) )
        
        print('Validating...')
        # predict
        pred = adarg.predict(X_test)
        
        # validate model  
        R2 = r2_score(y_test,pred)
        mse = mean_squared_error(y_test,pred)
        print('R2 :', R2)
        print('MSE :', mse)
        
        # attach results
        out.append([use, meter, len(y), fit_time, R2, mse])
        adargs.append(adarg)
        print('Done')
        print('')

---------------------
Extracting data for:  Education 0

4577522 datapoints
Train-test split...
X_train shape:  (3662017, 5)
X_test shape:  (915505, 5)
Fitting model...
Fit in 1416.4s
Validating...
R2 : 0.9666626161779657
MSE : 0.10415051889822743
Done

---------------------
Extracting data for:  Education 1

1812418 datapoints
Train-test split...
X_train shape:  (1449934, 5)
X_test shape:  (362484, 5)
Fitting model...

KeyboardInterrupt:

In [11]:
res = pd.DataFrame(out,columns=['primary_use','meter','n_data','fit_time','R2','mse'])
res

,primary_use,meter,n_data,fit_time,R2,mse
0,Education,0,4577522,615.408553,0.986777,0.041295
1,Education,1,1812418,274.796650,0.932898,0.453424
2,Education,2,1125729,177.437819,0.896966,0.751628
3,Education,3,606440,81.275391,0.896630,0.673748
4,Entertainment/public assembly,0,1505695,670.698068,0.986562,0.043393
5,Entertainment/public assembly,1,369548,41.187476,0.952958,0.306065
6,Entertainment/public assembly,2,240055,25.415971,0.800967,1.050905
7,Entertainment/public assembly,3,138796,13.776818,0.774447,1.974831
8,Food sales and service,0,43804,3.889749,0.903631,0.065180
9,Food sales and service,1,35112,2.655596,0.955513,0.232047
10,Food sales and service,2,17558,1.327849,0.864424,0.195242
11,Food sales and service,3,17554,1.187255,0.911358,0.218248
12,Healthcare,0,184178,17.433198,0.978256,0.055498
13,Healthcare,1,110967,9.098246,0.967476,0.230268
14,Healthcare,2,77461,5.936147,0.944713,0.543245
15,Healthcare,3,25322,1.609001,0.945019,0.450816
16,Lodging/residential,0,1219932,3298.052736,0.987129,0.034707
17,Lodging/residential,1,454137,45.429230,0.901859,0.503009
18,Lodging/residential,2,360378,43.543472,0.847969,0.935604
19,Lodging/residential,3,95816,9.232704,0.898638,0.304263
20,Manufacturing/industrial,0,84521,7.138989,0.971151,0.039942
21,Manufacturing/industrial,1,6405,0.374912,0.965832,0.148193
22,Manufacturing/industrial,2,33518,2.311958,0.863725,0.418550
23,Office,0,2302813,182.823258,0.986205,0.035514
24,Office,1,1112021,3327.191558,0.949505,0.296334
25,Office,2,674002,98.095713,0.905682,0.640623
26,Office,3,289434,31.965336,0.854210,1.027209
27,Other,0,210579,22.182350,0.978170,0.059221
28,Other,1,22623,1.452818,0.911278,0.844819
29,Other,2,8782,0.484297,0.946100,0.173682
30,Parking,0,187393,12.731433,0.929232,0.179193
31,Parking,1,8779,0.499913,0.931379,0.036280
32,Parking,2,17564,1.265329,0.906164,0.256269
33,Public services,0,1317166,122.483038,0.976476,0.038668
34,Public services,1,179273,3197.236907,0.911009,0.521057
35,Public services,2,82960,7.170254,0.923133,0.494261
36,Public services,3,78928,6.934815,0.859210,1.011106
37,Religious worship,0,24728,1.702766,0.905336,0.045903
38,Religious worship,1,7042,0.390571,0.956998,0.013759
39,Retail,0,96503,8.591741,0.991772,0.036110
40,Retail,1,16037,0.921630,0.908654,0.444328
41,Services,0,78898,6.732836,0.988049,0.010872
42,Services,2,17564,1.249665,0.938158,1.086615
43,Technology/science,0,44945,4.061579,0.988196,0.006618
44,Technology/science,1,15795,1.077914,0.887146,0.601390
45,Technology/science,2,7176,0.437430,0.895933,0.107238
46,Technology/science,3,8748,0.562370,0.696545,3.030502
47,Utility,0,31881,1.983921,0.928782,0.078609
48,Utility,1,8781,0.531159,0.962533,0.021723
49,Utility,2,14352,0.874812,0.924542,0.066806
50,Warehouse/storage,0,103027,8.951074,0.977534,0.036065
51,Warehouse/storage,2,8782,0.484291,0.979565,0.118210

In [12]:
res.to_csv('adaboost_perf_02.csv')

In [13]:
import pickle

In [17]:
with open('adaboost_02.pkl','ab') as adafile:
    pickle.dump(adargs, adafile)